{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="text-body-emphasis">Welcome to Symfony 6.4.7</h1>
    <p class="fs-5 col-md-8">Symfony is a set of reusable PHP components and a PHP framework to build web applications, APIs, microservices and web services.</p>

    <div class="mb-5">
        <a href="https://github.com/rama-can/symfony-example" class="btn btn-primary btn-lg px-4">See examples</a>
        <hr class="col-3 col-md-2">
    </div>
{% endblock %}
